{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
{% if action_user == user %}
    <div class="container-sub-heading">
        <h1>Action Photos</h1>
        <button class="btn btn-secondary float-end" type="button" onclick="window.location='{% url 'action_detail' incident_id action_id %}'">Back to Action Detail</button>
    </div>
    <div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Upload Photos</h5>
            <form method="post" enctype="multipart/form-data">
                {{ photo_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            </div>
        </div>
        </div>
    </div>
    {% if photo_list %}
    <div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Photos</h5>
            <div class="row">
                {% for action_photo in photo_list %}
                <div class="col-md-4">
                <div class="card">
                    <img src="{{ action_photo.photo.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                    <button onclick="window.location='{% url 'photo_delete' incident_id action_id action_photo.id %}'" class="btn btn-danger">Delete</button>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
        </div>
    {% endif %}

{% else %}
  <h1> You don't have access to this record </h1>
{% endif %}
{% else %}
  <h1> You need to be logged in to access this page </h1>
{% endif %}
{% endblock %}