{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
{% if action.created_by == user or save_button_type == 'Create Action' %}
  <h1>Action</h1>

  <form method="post">
  {{ action_form | crispy}}
  {% csrf_token %}
  <button class="btn btn-success" type="submit">{{ save_button_type }}</button>
  {% if save_button_type == 'Update' %}
  <button type="button" class="btn btn-danger" onclick="window.location='{% url 'action_delete' incident_id action.id %}'">Delete</button>
  <button type="button" class="btn btn-info" onclick="window.location='{% url 'photos' incident_id action.id %}'">Photos</button>
  {% endif %}
  </form>
{% else %}
  <h1> You don't have access to this record </h1>
{% endif %}
{% else %}
  <h1> You need to be logged in to access this page </h1>
{% endif %}
{% endblock %}