{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
{% if user.is_authenticated %}
  {% if incident.created_by == user or save_button_type == 'Create Incident' %}
  <div class="container-sub-heading">
    <h1 class="col-8-md">Incident {{ incident.id }}</h1>
    <button type="button" class="float-end btn btn-secondary" onclick="window.location='{% url 'incident_list' %}'">Back to Incidents</button> 
  </div>
    <form method="post">
    {{ incident_form | crispy}}
    {% csrf_token %}
    <button class="btn btn-success" type="submit">{{ save_button_type }}</button>
    {% if save_button_type == 'Update' %}
      <button class="btn btn-primary" data-bs-toggle="tooltip" title="Click here to view and add all the actions in relation to this incident ie, phone call made, notice served etc..." type="button" onclick="window.location='{% url 'actions' incident.id %}'">Actions</button>
      <button class="btn btn-danger" type="button" onclick="window.location='{% url 'incident_delete' incident.id %}'">Delete</button>
      {% endif %}
    </form>
  {% else %}
  <h1> You don't have access to this record </h1>
  {% endif %}
{% else %}
  <h1> You need to be logged in to access this page </h1>
{% endif %}
{% endblock %}