.container-sub-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.navbar-color-custom {
    background-color: rgb(210, 210, 200) !important;
}

#search-form {
    padding: 5px 5px 0 0;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 10px;
}

 @media screen and (max-width: 991px){
    #search-form {
        padding: 5px 0 0 0;
        display: grid;
        justify-content: inherit;
    }

    #search-form * {
        width: 100%;
        box-sizing: border-box;
    }
 }

 @media screen and (max-width: 768px){
    .combined-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    
 }

